# .htaccess สำหรับ bc3-virid.vercel.app/

# ใช้ index.html เป็นหน้าแรก
DirectoryIndex index.html

<IfModule mod_rewrite.c>
  RewriteEngine On

  # 1) บังคับใช้ https + www
  RewriteCond %{HTTPS} !=on [OR]
  RewriteCond %{HTTP_HOST} !^www\.bc3-virid.vercel\.app$ [NC]
  RewriteRule ^(.*)$ https://bc3-virid.vercel.app//$1 [L,R=301]
</IfModule>

